@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    margin-top: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: none;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler {
    border: none;
}

.top {
    margin-top: -84px;
}

/* #cbf3ff this the slider color code */
/* #5F8491 this font color (#  + "5F8491" ) = #5F8491 = a color code =a font color */
/* #6CBBF7 this is a another font clor code */
.carousel {
    background: #CBF3FF;
    border-radius: 23px;
    /* height: 400px; */
    padding: 60px 40px;
    /* max-width: 456px; */
}

/* .carousel-items{
    margin-top: 10px;
} */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    margin-left: -108px;
    width: 84px;
    /* overflow: hidden; */
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    margin-right: -108px;
    width: 84px;
    /* overflow: hidden; */
}

#mic {
    margin-left: 101px;
}

#headphone {
    margin-left: 77px;
}

#tv {
    margin-left: -95px;
    /* margin-top: -50px; */
    width: 441px !important;
}

.slide h1,
h2 {
    font-size: 41px;
    font-weight: 500;
}

.slide h2 {
    color: #48A0FE;
}

.slide p {
    font-size: 18px;
    font-weight: 300;
    color: #707070;
}

/* .slide{} */
.headphone {
    margin-top: -32px;
    height: auto;
}

.btn-primary {
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 9px;
    background: linear-gradient(#56ccf2, #2f80ad);
    margin-top: 20px;
    transition: 0.8s;
    box-shadow: none;
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(#2f80ad, #56ccf2);
    box-shadow: none;
    /* transition: 0.34s; */
}

.btn-secondary {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 19px;
    border: none;
    border-radius: 9px;
    background: #000;
    margin-top: 20px;
    transition: 0.8s;
    box-shadow: none;
    border: none;
}
.btn-secondary:hover{
    background-color: #5B5F64;
}
.carousel-indicators [data-bs-target] {
    background-color: #CBCBCB;
    width: 16px;
    height: 12px;
    border: none;
    border-radius: 5px;
}

/* 53c7f1 */
.carousel-indicators .active {
    background: #53c7f1;
    width: 45px;
}

/* .c-img{
    width: 20%;
} */
img,
svg {
    vertical-align: middle;
    width: 100px;
}

.Tv {
    width: 223px;
    margin-left: -65px;
}

.cat-1 {
    background-image: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);
}

/* #4354cb this a color code  */
.cat-2 {
    background-image: linear-gradient(#4354cb, #8594ab);
}

.cat-3 {
    background-image: linear-gradient(to right, #36d1dc, #5886e5);
}

.cat-1,
.cat-2,
.cat-3 {
    height: 156px;
    padding: 10px 28px;
    width: 374px;
    /* display: flex; */
    /* justify-content: space-between; */
    border-radius: 18px;
    /* font-size: 20px !important; */
}

.section-title h1 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 24px;
}

.section-title p {
    font-size: 19px;
    font-weight: 600;
    color: #2f80ad;
    cursor: pointer;
    /* text-decoration: none; */
    /* transition: 0.5s; */
}
.section-title a{
    text-decoration: none;
    /* transition: 0.5s; */
}
.section-title a:hover{
    text-decoration: underline;
}
.cat-1 h1,
.cat-2 h1,
.cat-3 h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

.card-img-top {
    width: 196px;
    margin-left: 73px;
}
.imgwidth {
    width: 133px;
}
.card-title {
    margin-bottom: .5rem;
    width: 317px;
    margin-left: -16px;
}
.img {
    margin-left: 52px;
}
.card{
    padding: 15px 20px;
    border-radius: 21px;
    border: none;
    box-shadow: 0 3px 15px 0px rgba(0 ,0 , 0 , 0.10 );
    transition: 0.9s;
}
.card:hover{
    /* font-size: 24px; */
    font-weight: 500;
    box-shadow: 0 10px 50px 0px rgba(0 ,0 , 0 , 0.30 );
}
.card h3{
    font-size: 24px;
    font-weight: 600;
}
.card p{
    font-weight: 300;
    color: #707070;
}
.tv-align {
    margin-left: -74px;
    width: 314px;
}
.contact {
    background-color: #CBF3FF;
    border-radius: 30px;
    border: none;
    padding: 50px 47px;
    margin-bottom: 23px;
    margin-top: 39px;
}
.form-control{
    width: 450px;
    height: 65px;
    /* text-align: center; */
    border-radius: 6px;
}
.contact h3{
    font-size: 30px;
    font-weight: 500;
}
.contact p{
    font-size: 18px;
    font-weight: 300;
}
.submit {
    padding: 9px 57px;
}
.button-modal {
    border-radius: 50%;
    margin-left: -106px;
    position: fixed;
    margin-top: 16px;
    /* width: 42px; */
    /* padding: 15px 28px; */
    /* text-align: justify; */
    animation: rotate 5s linear infinite;
} 
@keyframes rotate {
    0%{
        transform: rotate(-55deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
.text-of-modal{
    border: 1px solid #000;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.text-of-modal img {
    width: 229px;
    margin-left: 93px;
}
.text-of-modal p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}
.text-of-modal del {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 191px;
}
/* .modal-header h5{
    /* text-align: center; */
/* .modal-body p{
    text-align: center; */ 
.modal-tv {
    width: 419px !important;
    margin-left: -78px !important;
}
/* Vaia ata kemon hoea sa? */